.wrap-collabsible {
    background: var(--ion-color-primary-contrast);
    margin-bottom: 8px;
}

input[type="checkbox"] {
    display: none;
}

.lbl-toggle {
    display: block;
    padding: 1rem;
    background: var(--ion-color-primary-contrast);
    transition: all 0.05s ease-out;
    position: relative;
}

.lbl-toggle::before {
    content: " ";
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    transform: translateY(-2px);
    transition: transform 0.02s ease-out;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.05s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 100vh;
    background: var(--ion-color-primary-contrast);
    border-top: 1px solid var(--ion-color-medium-tint);
    margin-bottom: 20px;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.address-header {
    max-width: 90%;
    display: block;
    text-transform: capitalize;
}

.info-content {
    padding: 12px 16px;
    border-bottom: 1px solid #ccc;
    .info-label {
        font-size: 12px;
        margin-bottom: 2px;
        display: block;
        color: var(--ion-color-medium-tint);
    }
    h6 {
        margin: 0;
    }
}

// State header
.branches-in-state {
    display: flex;
    align-items: center;
    .horiz-line {
        height: 1px;
        background: var(--ion-color-primary);
        width: 100%;
    }
    .state-name {
        white-space: nowrap;
        margin: 10px 20px;
        color: var(--ion-color-primary);
    }
}

.contact-number {
    color: var(--ion-color-dark) !important;
    text-decoration: none;
    margin-right: 20px;
}