.d-block {
    display: block;
}

.about-text {
    display: block;
    margin-bottom: 10px;
    text-align: justify;
}

.charma-shloka {
    background: var(--audio-controls-background) !important;
    width: 100%;
}