<ion-split-pane>
    <ion-menu contentId="content">
        <ion-header>
            <ion-toolbar color="danger">
                <ion-title>Sri Sosale Vyasaraja Matha</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list>
                <!-- <ion-item tappable routerLink="/menu/first/tabs/tab1" routerDirection="root">
                    <ion-icon name="md-home" slot="start"></ion-icon>
                    Home
                </ion-item> -->

                <!-- <ion-item tappable>
                    <ion-icon name="md-list-box" slot="start"></ion-icon>
                    Panchanga
                </ion-item> -->

                <ion-item tappable routerLink="/about-vyasarajaru" routerDirection="root">
                    <ion-icon name="md-person" slot="start"></ion-icon>
                    About Sri Vyasarajaru
                </ion-item>

                <ion-item tappable>
                    <ion-icon name="md-calendar" slot="start"></ion-icon>
                    Aradhane
                </ion-item>

                <ion-item tappable>
                    <ion-icon name="md-grid" slot="start"></ion-icon>
                    Ekadashi & Vishnu Panchaka
                </ion-item>

                <ion-item tappable>
                    <ion-icon name="md-leaf" slot="start"></ion-icon>
                    Krishna Mantra
                </ion-item>

                <ion-item tappable>
                    <ion-icon name="md-mic" slot="start"></ion-icon>
                    e-Paatha
                </ion-item>

                <ion-item tappable tappable routerLink="/about-us" routerDirection="root">
                    <ion-icon name="md-contacts" slot="start"></ion-icon>
                    About Us
                </ion-item>

                <ion-item tappable routerLink="/branches-of-matha" routerDirection="root">
                    <ion-icon name="md-call" slot="start"></ion-icon>
                    Contact & Branches of Matha
                </ion-item>

                <ion-item tappable routerLink="/login" routerDirection="root">
                    <ion-icon name="md-power" slot="start"></ion-icon>
                    Logout
                </ion-item>
            </ion-list>

            <ion-list>
                <ion-list-header>
                    <ion-label>Follow us on</ion-label>
                </ion-list-header>

                <ion-item href="http://srivyasarajamathasosale.org" target="_blank">
                    <ion-icon name="md-globe" slot="start"></ion-icon>
                    Website
                </ion-item>

                <ion-item href="https://www.facebook.com/SriVyasarajaMatha/" target="_blank">
                    <ion-icon name="logo-facebook" slot="start"></ion-icon>
                    Facebook
                </ion-item>

                <ion-item href="https://www.twitter.com/ShreeshaTirtha/" target="_blank">
                    <ion-icon name="logo-twitter" slot="start"></ion-icon>
                    Twitter
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>