<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Upanyasa</ion-title>
        <ion-button slot="end" color="danger" (click)="filterModal()">
            <ion-icon name="md-switch"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <iframe width="100%" height="180" src="https://www.youtube.com/embed/9XXAVwsEnMg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <ion-card-header>
            <span class="light-black-text">Shrimad Bhagavata Prathama Skanda by Sri Sri Vidyasreesha Teertharu</span>
            <ion-card-subtitle>16-June-2019</ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <iframe width="100%" height="180" src="https://www.youtube.com/embed/fg3fFiiG_0Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <ion-card-header>
            <span class="light-black-text">Shrimad Bhagavata Prathama Skanda by Sri Sri Vidyasreesha Teertharu</span>
            <ion-card-subtitle>16-June-2019</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ion-content>