<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Upcoming Events</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="ion-no-padding">
        <ion-item-divider color="medium">
            <h6 class="light-text">List of upcoming events in SVM</h6>
        </ion-item-divider>

        <ion-item>
            <ion-label text-wrap>
                <h2>SVVP Annual Day Celebratiomn</h2>
            </ion-label>
            <span slot="end" class="event-date">15-Apr-2020</span>
        </ion-item>

        <ion-item>
            <ion-label text-wrap>
                <h2>Aradhana mahotsava of Shri Vidya Shreedhara Teertharu</h2>
            </ion-label>
            <span slot="end" class="event-date">03-May-2020</span>
        </ion-item>

        <ion-item>
            <ion-label text-wrap>
                <h2>Samsthana Pooje by Shri Vidya Shreesha Teertharu</h2>
            </ion-label>
            <span slot="end" class="event-date">15-May-2020</span>
        </ion-item>

        <ion-item>
            <ion-label text-wrap>
                <h2>Chaturmasya</h2>
            </ion-label>
            <span slot="end" class="event-date">15-Sep-2020</span>
        </ion-item>

        <ion-item>
            <ion-label text-wrap>
                <h2>Mettilotsava</h2>
            </ion-label>
            <span slot="end" class="event-date">Yet to confirm</span>
        </ion-item>

        <ion-item>
            <ion-label text-wrap>
                <h2>Paada Pooje</h2>
            </ion-label>
            <span slot="end" class="event-date">09-Oct-2020</span>
        </ion-item>
    </ion-list>
</ion-content>