.about-text {
    display: block;
    margin-bottom: 10px;
    text-align: justify;
}

.mb-1 {
    margin-bottom: 10px;
}

.b-b {
    border-bottom: 1px solid var(--ion-color-medium-tint);
}

.gmail {
    color: var(--gmail-icon);
}

.facebook {
    color: var(--facebook-btn);
}

.youtube {
    color: var(--youtube-icon);
}