<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="p-0">Sri Sosale Vyasaraja Matha</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-divider color="medium">
        <h6 class="light-text">Today's Panchanga (18-January-2020)</h6>
    </ion-item-divider>

    <table>
        <tbody>
            <tr>
                <td>
                    <ion-row class="text-with-icons">
                        <ion-icon name="md-sunny" color="warning"></ion-icon> 6.31 AM
                    </ion-row>
                </td>

                <td>
                    <ion-row class="text-with-icons">
                        <ion-icon name="md-sunny" color="danger"></ion-icon> 6.52 PM
                    </ion-row>
                </td>
            </tr>

            <tr>
                <td>
                    <ion-row class="text-with-icons">
                        <ion-icon name="md-moon"></ion-icon> Shukla Paksha
                    </ion-row>
                </td>

                <td>
                    <ion-row class="text-with-icons">
                        <ion-icon name="md-sunny" color="dark"></ion-icon> Krishna Paksha
                    </ion-row>
                </td>
            </tr>
        </tbody>
    </table>

    <table>
        <tbody>
            <tr>
                <td>Samvatsara</td>
                <td>Vikari</td>
            </tr>

            <tr>
                <td>Ayana</td>
                <td>Uttarayana</td>
            </tr>

            <tr>
                <td>Ritu</td>
                <td>Hemanta</td>
            </tr>

            <tr>
                <td>Maasa</td>
                <td>Pushya</td>
            </tr>

            <tr>
                <td>Paksha</td>
                <td>Krishna</td>
            </tr>

            <tr>
                <td>Tithi</td>
                <td>Ashtami</td>
            </tr>

            <tr>
                <td>Vaara</td>
                <td>Shanivara</td>
            </tr>
        </tbody>
    </table>

    <!-- Events Section -->
    <ion-list lines="none" class="items-with-lines">
        <ion-item-divider color="medium">
            <h6 class="light-text">Today's Events</h6>
        </ion-item-divider>


        <ion-item>
            <ion-avatar slot="start">
                <img src="http://gopaladasaru.net/images/gd1.jpg">
            </ion-avatar>
            <ion-label>
                <h2>Gopala dasara aaradhane</h2>
                <p>Gopala Dasa (1721–1769) was a prominent 18th-century Kannada language poet and saint belonging to the Haridasa tradition. </p>
            </ion-label>
            <ion-icon name="ios-arrow-forward" slot="end" color="dark"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>

<!-- <ion-button expand="block" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward">
    Details forward </ion-button>-->